# See https://www.dartlang.org/guides/libraries/private-files

# Files and directories created by the Operating System
.DS_Store

# Files and directories created by pub
.dart_tool/
.packages
pubspec.lock

# Files and directories created by dart_frog
build/
.dart_frog

# Test related files
coverage/

# Geral
.env
.env.*
*.log

# Dart / Flutter
.dart_tool/
.packages
.pub-cache/
build/

# Flutter
android/.gradle/
android/local.properties
ios/Pods/
ios/Runner.xcworkspace/

# IDE
.idea/
.vscode/
